body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(219, 67, 25, 1);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* adicionado */
  right: 0; /* adicionado */
  top: 0; /* adicionado */

  width: calc(100% - 299px); /* adicionado para ocupar a largura completa */
  z-index: 1; /* adicionado para ficar acima dos outros elementos */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  margin-right: 10px;
}

nav {
  padding-top: 60px;
  background-color: #343a40;
  height: 100vh;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

nav li {
  margin-bottom: 10px;
}

.nav-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.5rem;
  color: #f8f9fa;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn.active {
  background-color: rgba(219, 67, 25, 1);
}

.user-avatar {
  width: 180px;
  height: 120px;
}

.appointment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin-top: 70px;
  margin-left: calc(300px + 20px); /* 20px is the padding of the main element */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.logout-btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #f8f9fa;
  background-color: #343a40;
  border: none;
  outline: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: white;
  color: black;
}

.main-content {
  background-color: rgb(249, 243, 242);
  width: 1200px;
  justify-content: center;
  border: 2px solid rgba(219, 67, 25, 1);
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 1px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
}

.content-card {
  background-color: rgb(245, 229, 226);
  width: 900px;
  justify-content: center;
  border: 2px solid rgba(219, 67, 25, 1);
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 1px;
}

.patient-card {
  background-color: rgb(245, 229, 226);
  width: 300px;
  height: 200px;
  justify-content: center;
  border: 5px solid rgba(219, 67, 25, 1);
  padding: 40px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 1px;
  display: grid;
  cursor: pointer;
}
.events-on-date {
  background-color: rgb(245, 229, 226);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 20px;
}
.delete-event-button {
  background-color: rgba(219, 67, 25, 1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  right: 0;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgba(219, 67, 25, 1);
}

.event {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.observation {
  justify-content: flex-start;
  margin-right: 10px;
}

.hour,
.observation,
.category {
  margin-right: 10px;
  color: black;
  font-weight: bold;
}

.content-card {
  background-color: rgb(245, 229, 226);
  width: 600px;
  height: 400px;
  justify-content: center;
  border: 2px solid rgba(219, 67, 25, 1);
  padding: 30px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 1px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: rgba(219, 67, 25, 1);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

.floating-button span {
  line-height: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 90px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-edit {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 450px;
  padding: 45px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popup-edit h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.popup-edit input {
  margin-bottom: 15px;
}

.popup-agenda {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  padding: 90px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  height: auto;
}
.events-agenda {
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgba(219, 67, 25, 1);
  padding: 10px;
  top: 0;
  color: white;
  display: block;
  height: auto;
}

.popup label {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
}

#confirmButton {
  width: 102%;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.popup input[type="text"],
.popup input[type="number"] {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.popup button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: rgba(219, 67, 25, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: 20px;
  background-color: rgba(219, 67, 25, 1);
  margin: 0;
  font-weight: bold;
  padding: 12px;
  color: white;
  border-radius: 8px;
}

.editButton {
  cursor: pointer;
  position: absolute;
  right: 8%;
  top: 5%;
  font-size: 20px;
  background-color: #343a40;
  margin: 0;
  font-weight: bold;
  padding: 12px;
  color: white;
  border-radius: 8px;
}

.name-patient-profile {
  border-radius: 10px;
  background-color: rgba(219, 67, 25, 1);
  padding: 10px;
  top: 0;
  color: white;
}

.agenda-input {
  border-radius: 10px;
  background-color: rgb(225, 209, 205);
  padding: 10px;
  margin-right: 10px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  border-radius: 10px;
  background-color: rgb(225, 209, 205);
  padding: 15px;
  margin-right: 30px;
  border: none;
}

#description {
  width: 35%;
  font-size: 15px;
}

#typeOfEvent {
  font-size: 12px;
}
.add-button {
  width: 100%;
  border: none;
  background-color: rgb(225, 209, 205);
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(224, 149, 131);
  cursor: pointer;
}

.patient-info {
  border-radius: 10px;
  background-color: rgb(228, 171, 155);
  padding: 15px;
  margin-top: 10px;
}

#delete-buttom-patient-card {
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
  width: 70px;
  height: 35px;
  padding-top: 0 !important;
  margin-left: 85%;
  margin-top: -8%;
  font-weight: bold;
}

#delete-buttom-patient-card:hover {
  background-color: rgb(235, 179, 163);
  cursor: pointer;
  color: black;
}

li {
  margin: 0;
  margin-left: 30px;
}

nav {
  height: 100%;
}

.comorbitities-list {
  list-style-type: none;
  padding-left: 0;
}

.comorbitities-list li {
  position: relative;
  padding-left: 20px;
}

.comorbitities-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.red-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}

.green-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

#dot-label {
  font-size: 16px;
}

#header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  height: 30px;
}

#closeButton {
  position: absolute;
  top: -20px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(219, 67, 25, 1);
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
  border: 2px solid black; /* Define a borda com 2px de largura e cor preta */
  font-weight: bold; /* Torna o texto em negrito */
  visibility: visible;
  width: 200px;
  height: 100px;
  background-color: rgb(235, 179, 163);
  color: black;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 300%;
  left: 50%;
  transform: translateX(-60%);
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  line-height: 1.5;
  overflow: auto;
}
